@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 min-height: 100vh;
}



@layer base {
  :root {
  --radius: 0.5rem;
 }
}

.linear-bg {
  background:url("/bg.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center center;
}